<p-toast position="top-right"></p-toast>
<div
  class="ui-g-12"
  style="width: 80%;
      font-size: 26px;
      margin-left: 10%;
      text-align: center;
      "
>
  <p-card header="Login">
    <div class="ui-g ui-fluid">
      <hr style="height:2px;width:100%;background-color:green;" />
      <form style="width:100%;" #myForm="ngForm">
        <div class="ui-g">
          <div class="ui-md-3 ui-lg-3"></div>
          <div class="ui-md-6 ui-lg-6 ui-sm-12">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon" style="width:50%;font-size:15px; font-weight: bold;"
                >Name </span
              >
              <input type="text"  required name="UserName" pInputText />
            </div>
          </div>
        </div>

        

        <div class="ui-g">
          <div class="ui-md-3 ui-lg-3"></div>
          <div class="ui-md-6 ui-lg-6 ui-sm-12">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon" style="width:50%;font-size:15px; font-weight: bold;"
                >Password </span
              >
              <input
                type="password"
                required
                name="Password"
                pInputText
              />
            </div>
          </div>
        </div>

       
        <div class="ui-g">
          <div class="ui-md-3 ui-lg-3"></div>
          <div class="ui-md-6 ui-lg-6 ui-sm-12">
            <button
              pButton
              type="submit"
              (click)="loginUser()"
              label="Submit"
              style="margin-top: 0px;width:100%; font-weight: bold;"
            ></button>
          </div>
        </div>
      </form>
    </div>
  </p-card>
</div>