<div class="sidenav" >
    <ul class="list-unstyled quick-links side-link">
      <li><a href="javascript:void();">Home</a></li>

      <li>
        <a href="#paymentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed ">
        <span class="icon"></span>Payment Transaction</a>

        <ul class="collapse list-unstyled" id="paymentSubmenu">
            <li><a href="javascript:void();">Create Transaction</a></li>
            <li><a href="javascript:void();">Bulk Transaction</a></li>
            
        </ul>
    </li>



    <li>
        <a href="#backSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed ">
        <span class="icon"></span>Back Office</a>

        <ul class="collapse list-unstyled" id="backSubMenu">
            <li><a href="javascript:void();">Stop Cheque</a></li>
            <li><a href="javascript:void();">CBS Posting</a></li>
            
        </ul>
    </li>
    <li>
        <a href="#instrumentSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed ">
        <span class="icon"></span>Instrument Processing</a>

        <ul class="collapse list-unstyled" id="instrumentSubMenu">
            <li><a href="javascript:void();">Instrument Printing</a></li>
            <li><a href="javascript:void();">Instrument Re-print</a></li>
            
        </ul>
    </li>
  </ul>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" >
    <a class="navbar-brand" href="javascript:void();">
      Brand
    </a>
  
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void();">Payments</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="javascript:void();">Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void();">Bank signatories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void();">Vendor</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
       
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    
  </nav>
  
    
